__pycache__
.pytest_cache/
.git/
mydata.yaml
data/
.dockerignore
.gitignore
model/cropped_text_regions/
model/mlruns/
model/mlartifacts/
model/results/
model/predict.py
model/genmini_api.py
model/crawl.ipynb
model/yolo.py
yolo11n.pt 
yolov8n.pt
mlflow.db
uploads/*
README.md
server.yaml
deployment.yaml